@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.header-wrapper{
    height: 75px;
    width: calc(100vw - 130px);
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(158, 177, 189);
    border-bottom: 2px solid rgb(131, 125, 125);
}

.not-fav{
    text-align: center;
    padding: 20px;
    font-size: 17px;
}

